/* Font and Background */
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Sign Up and Login*/
.title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 30px;
    text-align: center;
}

#signUp, #login {
    margin: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.sign-up-button, .login-button {
    width: 15%;
    display: flex;
    justify-content: center;
    border: solid black 1px;
    border-radius: 10px;
}

.login-link, .sign-up-link {
    margin: 15px;
    text-align: center;
}

#email-input, #username-input, #password-input, #confirm-password-input {
    border: solid grey 1px;
    border-radius: 4px;
}


/* Homepage */
.sub-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 30px;
}

img {
    width: 75px;
    padding-bottom: 5px;
}

#destruction, #the-hunt, #erudition, #harmony, #nihility, #preservation, #abundance, #remembrance {
    margin: 25px;
}

.submit-button {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 20px;
    width: 15%;
    border: solid black 1px;
    border-radius: 10px;
}