/* Font and Background */
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Sign Up and Login*/

.card-title {
    padding: 30px;
}

button.btn.btn-primary {
    margin-top: 10px;
    background-color: lightcoral;
    border: 0px;
}

.login-link a {
    color: lightcoral;
}

.login-link, .sign-up-link {
    padding-top: 10px;
}

.sign-up-link a {
    color: lightcoral;
}

.sign-
/* Homepage */
.sub-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 30px;
}

img {
    width: 150px;
}

#characters-container {
    margin: 35px;
}