/* Font and Background */
* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Sign Up and Login*/

.card-title {
    padding: 30px;
}

button.btn.btn-primary {
    margin-top: 10px;
    background-color: lightcoral;
    border: 0px;
}

.login-link a {
    color: lightcoral;
}

.login-link, .sign-up-link {
    padding-top: 10px;
}

.sign-up-link a {
    color: lightcoral;
}

.sign-
/* Homepage */
.sub-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 30px;
}

img {
    width: 75px;
    padding-bottom: 5px;
}

#destruction, #the-hunt, #erudition, #harmony, #nihility, #preservation, #abundance, #remembrance {
    margin: 25px;
}

.submit-button {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 20px;
    width: 15%;
    border: solid black 1px;
    border-radius: 10px;
}